@CHARSET "UTF-8";

.title {
	text-align: center;
}
label {
	font-size: 200%;
	margin-top: 0.7em;
	margin-bottom: 0.5em;			
}
legend {
	font-size: 250%;
	padding-bottom: 0.2em;        
}               
fieldset {
	padding-top: 0.1em;
}